<div id='content'>
  <div id='withdraw'>
    <p>Please type in the amount to withdraw:</p>
    <%= form_tag(withdraw_url, remote: true, 'data-type' => 'json') do %>
      <%= text_field_tag :amount, "", size: 10 %>
      <%= submit_tag 'Withdraw' %>
    <% end %>
  </div>

  <div id='current_funds_info'>
    <span>Account No. <%= @current_account.number %></span>
    <p>Current funds:</p>
    <span id='current_funds'><%= @current_account.current_funds %></span>

    <div id='refill_info'>
      <%= link_to "Refill $1000", refill_url, remote: true, id: 'refill', method: :post %>
      <span>(only for testing purposes)</span>
    </div>

    <div class='form'>
      <%= form_tag(finish_url) do %>
        <%= submit_tag 'Finish' %>
      <% end %>
    </div>
  </div>

  <div class='clear'></div>

  <div class='alert' id='error_message'>
  </div>

  <div class='alert' id='success_message'>
  </div>
</div>